h1{
    color: grey;
}

/* img{
    width: 500px;
} */

input{
    padding: 10px;
    border: 1px solid gray;
}

button{
    padding: 7px;
    border: 1px solid gray;
    color: white;
    background-color: tomato;
}